h1 {
    color: rgb(125, 166, 207);
    font-size: 28px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    border-width: 6px;
    border-color: rgb(54, 54, 85);
    border-style: solid;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 5px 8px 2px blue(83, 83, 83, 0.1);
    padding: 13px;
    margin: 17px;
}


.purple-text {
    color: rgb(125, 166, 207);
    font-size: 21px;
}

p {
    border-width: 4px;
    border-color: 54, 54, 85;
    border-style: solid;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 5px 8px 2px blue(83, 83, 83, 0.1);
    padding: 13px;
    margin: 17px;
}

.iceblue-text {
    color: rgb(125, 166, 207);
    font-size: 16px;
}



.small-font {
    font-size: 12px;
}

section {
    border-width: 6px;
    border-color: rgb(54, 54, 85);
    border-style: solid;
    border-radius: 6px;
    text-align: center;

    box-shadow: 0 5px 8px 2px blue(83, 83, 83, 0.1);
    padding: 13px;
    margin: 17px;
}